body{
    text-align: center;
    background-color: #376092;
    
}

h1{
    color: whitesmoke;
}

input[type="text"], a{
    color: rgb(254, 198, 124);
    transition: color 200ms;
}
a:hover{
  color: rgb(255, 102, 0); 
}
