body{
    text-align: center;
    background-color: blueviolet;
}

h1{
    color: white;
}

a{
    color: white;
}

input[type="text"], a{
    color: #ffffff;
    transition: color 200ms;
    text-align: center;
}

a:hover{
  color: rgb(243, 28, 254); 
}